job "static-assets-{{ env "CHEF_ENV" }}" {
  datacenters = ["awse"]
  type = "service"
  
  constraint {
    attribute = "${meta.role}"
      value     = "fileserve"
  }
  constraint {
    attribute = "${meta.env}"
    value     = "{{ env "CHEF_ENV" }}"
  }

# set our update policy
  update {
    max_parallel     = 1
      health_check     = "task_states"
      min_healthy_time = "30s"
      healthy_deadline = "4m"
      auto_revert      = {{ template "GET_VALUE" "infra/nomad/auto_revert" }}
      #canary           = 1
      #stagger          = "30s"
  }

  # reschedule if it fails
  reschedule {
    delay          = "30s"
    delay_function = "exponential"
    max_delay      = "5m"
    unlimited      = true
  }

  group "app" {
    # set our restart policy
    restart {
      interval = "1m"
      attempts = 2
      delay    = "15s"
      mode     = "fail"
    }
    count = {{ env "COUNT" }}

    # needed for increased log file size
    ephemeral_disk {
      size    = "2600"
    }

    task "static-assets" {
      # set this as the leader so the other tasks exit
      leader = true
      artifact {
        source = "https://jenkins-archive.traitify.com/static-assets/static-assets-{{ template "GET_HASH" }}.tar.gz"
        destination = "local/static-assets"
      }
      # also grab the stuff we need for apache
      artifact {
        source = "https://jenkins-archive.traitify.com/static-assets/static-assets-apache-config-{{ template "GET_HASH" }}.tar.gz"
        destination = "local/apache"
      }
      template {
        source = "local/apache/sites-enabled/app.conf.tmpl"
        destination = "etc/apache2/sites-enabled/app.conf"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }
      template {
        source = "local/apache/conf-enabled/traitify-logging.conf.tmpl"
        destination = "etc/apache2/conf-enabled/traitify-logging.conf"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }
      template {
        source = "local/apache/envvars.tmpl"
        destination = "etc/apache2/envvars"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }
      template {
        source = "local/apache/ports.conf.tmpl"
        destination = "etc/apache2/ports.conf"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }
      template {
        source = "local/apache/apache2.conf.tmpl"
        destination = "etc/apache2/apache2.conf"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }
			# grab our run file
      artifact {
        source = "https://jenkins-archive.traitify.com/static-assets/static-assets-run_apache-{{ template "GET_HASH" }}.sh.tmpl"
      }
      template {
        source = "local/static-assets-run_apache-{{ template "GET_HASH" }}.sh.tmpl"
        destination = "local/run_apache.sh"
        change_mode = "restart"
        perms = "664"
        splay = "10m"
        vault_grace = "15m"
      }

      # set our environment variables
      env {
        CHEF_ENV = "${meta.env}"
        APP_NAME = "static-assets"
        LOCAL_HOSTNAME = "${node.unique.name}"
        CHEF_ROLE = "${meta.role}"
        GIT_HASH = "{{ template "GET_HASH" }}"
      }
      # grant access to secrets
      vault {
        policies = [ "app-{{ env "CHEF_ENV" }}-fileserve" ]
        change_mode = "noop"
      }
      # our image setup
      driver = "exec"
        config {
          command = "bash"
          args = [ "local/run_apache.sh" ]
        } 
      resources {
        cpu    = 500
        memory = 500
        network {
          port "http" {}
        }
      }
      
      logs {
        max_files     = 5
        max_file_size = 500
      }

      # add in service discovery
      service {
        name = "static-assets-http"
        tags = [
          "${node.unique.name}", "host__${node.unique.name}", 
          "{{ template "GET_HASH" }}", "version__{{ template "GET_HASH" }}", 
          "${meta.env}", "env__${meta.env}", 
          "${meta.env}-fileserve-prefix-/static_assets strip=/static_assets proto=http", 

          "traefik.enable=true",
          "traefik.tags=${meta.env}",
          "traefik.backend.loadbalancer.method=drr",
          "traefik.frontend.passHostHeader=true",
          "traefik.frontend.rule=Host:fileserve.traitify.com,fileserve-${meta.env}.traitify.com,fileserve.${meta.env}.awse.traitify.com;PathPrefixStrip:/static_assets",

          "consuldogConfig https://jenkins-archive.traitify.com/static-assets/static-assets-http_check-{{ template "GET_HASH" }}.yaml.tmpl http_check", 
          "consuldogConfig https://jenkins-archive.traitify.com/static-assets/static-assets-apache-{{ template "GET_HASH" }}.yaml.tmpl apache" 
        ]

        port = "http"

        # we only do a basic tcp check on the http port since all it does is forward to the https port
        check {
          name = "http"
          path = "/monitor/ping"
          initial_status = "critical"
          type     = "http"
          protocol = "http"
          port     = "http"
          interval = "5s"
          timeout  = "2s"
        }
      }
    }

    task "log-shipper" {
      # grab our config file template
      artifact {
        # for development
        source = "https://jenkins-archive.traitify.com/static-assets/static-assets-remote-syslog2-{{ template "GET_HASH" }}.yml.tmpl"
      }
      # turn it into the correct config
      template {
        source = "local/static-assets-remote-syslog2-{{ template "GET_HASH" }}.yml.tmpl"
        destination = "local/remote-syslog2.yml"
        change_mode = "noop"
        perms = "664"
      }
      # set our environment variables
      env {
        CHEF_ENV = "${meta.env}"
        APP_NAME = "static-assets"
        LOCAL_HOSTNAME = "${node.unique.name}"
        LOG_TASK_NAME = "static-assets"
        GIT_HASH = "{{ template "GET_HASH" }}"
      }
      # grant access to secrets
      driver = "exec"
      config {
        command = "/usr/local/bin/remote_syslog"
        args = [ "-c", "/local/remote-syslog2.yml", "-D" ]
      }
      resources {
        cpu    = 100
        memory = 100
      }
    }
  }
}
